<!-- Corresponde al selector del componente header de la carpeta shared -->
<!-- Enviamos el parámetro para el título -->
<app-header title="FitPlan Pro"></app-header>
<ion-content>
    <div class="main">
        <ion-card>
            <ion-card-title>Ingresar</ion-card-title>
            <hr>
            <img src="../../../assets/icon/logo-red.png" alt="">
            <p class="titulo"><strong>FitPlan</strong> Pro</p>
            <ion-card-content>
                <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
                    <!-- Enviamos parámetros y conectamos el parámetro "form" con el formulario -->
                    <!-- input email -->
                    <app-custom-input icon="mail-outline" type="email" autocomplete="email"
                        [control]="form.controls.email" label="Correo"></app-custom-input>
                    <!-- Errores email-->
                    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                        <!-- Se debe indicar qué tipo de error es -->
                        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
                        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
                    </div>
                    <!-- input password -->
                    <app-custom-input icon="key-outline" type="password" [control]="form.controls.password"
                        label="Contraseña"></app-custom-input>
                    <!-- Errores password-->
                    <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
                    </div>
                    <!-- Olvido de contraseña -->
                    <div class="container-forgot-psswd">
                        <p routerLink="forgot-password" class="forgot-psswd">¿Olvidaste tu contraseña?</p>
                    </div>
                    <!-- Botón ingresar -->
                    <!-- Si el formulario es inválido, se deshabilita el botón -->
                    <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
                        Ingresar
                        <ion-icon slot="end" name="log-in-outline"></ion-icon>
                    </ion-button>
                    <!-- Botón registrar -->
                    <ion-button expand="block" mode="ios" fill="outline" routerLink="sign-up">
                        Registrarse
                        <ion-icon slot="end" name="person-add-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="navigateToApi()">API JSONPlaceholder</ion-button>
                </form>
                
            </ion-card-content>
        </ion-card>
    </div>
    
</ion-content>