<!-- Corresponde al selector del componente header de la carpeta shared -->
<!-- Enviamos el parámetro para el título -->
<app-header title="FitPlan Pro" backButton="/auth"></app-header>
<ion-content>
    <div class="main">
        <ion-card>
            <ion-card-title>Recuperar contraseña</ion-card-title>
            <hr>
            <img src="../../../assets/icon/logo-red.png" alt="">
            <p class="titulo"><strong>FitPlan</strong> Pro</p>
            <p class="ion-text-center">Te enviaremos un email para restablecer tu contraseña.</p>
            <ion-card-content>
                <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
                    <!-- Enviamos parámetros y conectamos el parámetro "form" con el formulario -->
                    <!-- input email -->
                    <app-custom-input icon="mail-outline" type="email" autocomplete="email"
                        [control]="form.controls.email" label="Correo"></app-custom-input>
                    <!-- Errores email-->
                    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                        <!-- Se debe indicar qué tipo de error es -->
                        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
                        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
                    </div>
                    <!-- Botón ingresar -->
                    <!-- Si el formulario es inválido, se deshabilita el botón -->
                    <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
                        Recuperar
                        <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    </ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>